.feature,
.products {
  display: flex;
  gap: 30px;
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
}
.feature__title {
  color: $title-color;
  text-transform: uppercase;
  @include text-style(700, 14px, 1.14);
  margin-bottom: 10px;
}
.feature__icon {
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    width: 270px;
    height: 120px;
    background-color: $bckgr-milk;
    border-radius: 4%;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
.feature__icon--radar::before {
  background-image: url(../images/antenna.svg);
}
.feature__icon--clock::before {
  background-image: url(../images/clock.svg);
}
.feature__icon--diagram::before {
  background-image: url(../images/diagram.svg);
}
.feature__icon--astronavt::before {
  background-image: url(../images/astronaut.svg);
}
